$nav-bg:               black;
$nav-color:            white;

$movie-header-bg:      rgba(50, 50, 50, 1.0);
$movie-header-color:   white;

$show-header-bg:       $movie-header-bg;
$show-header-color:    $movie-header-color;

$season-header-bg:     rgba(80, 80, 80, 1.0);
$season-header-color:  rgba(220, 220, 220, 1.0);

$episode-header-bg:    rgba(100, 100, 100, 1.0);
$episode-header-color: rgba(220, 220, 220, 1.0);
