$nav-font:            300  14px "Lato", sans-serif;

$movie-header-font:   bold 24px "Lato", sans-serif;

$show-header-font:    $movie-header-font;

$season-header-font:  400  20px "Lato", sans-serif;

$episode-header-font: 300  16px "Lato", sans-serif;

$video-overlay-font:  400  20px "Lato", sans-serif;
