$nav-height: 40;

nav {
  background-color: $nav-bg;
  font:             $nav-font;
  height:           #{$nav-height}px;

  .left {
    position: absolute;
    left:     10px;
    top:      0;
  }

  .right {
    position: absolute;
    right:    10px;
    top:      0;
  }

  a {
    color:           $nav-color;
    display:         inline-block;
    height:          40px;
    line-height:     40px;
    vertical-align:  middle;
    text-decoration: none;
    padding:         0;
    margin:          0;
  }

  a + a {
    margin-left: 10px;
  }
}
