@mixin cell {
  @keyframes show {
    0% {
      opacity: 0.8;
    }
    100% {
      opacity: 1.0;
    }
  }

  display: inline-block;
  width: 200px;
  height: 200px;
  vertical-align: bottom;

  opacity: 0.8;

  &:hover {
    animation: 0.3s show;
    opacity: 1.0;
  }

  margin-right: 15px;
  margin-bottom: 15px;

  a {
    background-color: rgba(88, 88, 88, 0.6);

    display: block;

    position: relative;
    text-decoration: none;

    height: 100%;
    width: 100%;

    .name {
      color: rgba(220, 220, 220, 1.0);
      box-sizing: border-box;

      overflow: hidden;

      left: 20px;
      top: 144px;

      height: 50px;
      width: calc(100% - 20px);
      padding-left: 10px;
      padding-top:  4px;
      padding-bottom: 5px;
      padding-right: 10px;
      background-color: rgba(150, 150, 150, 0.8);

      position: absolute;

      text-decoration: none;
      
      font: 400 14px "Lato", sans-serif;

      $font-size: 14px;
      $line-height: 1.4;
      $lines-to-show: 2;

      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 400px;
      margin: 0 auto;
      font-size: $font-size;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      border-bottom: 3px solid rgba(80, 80, 80, 1.0);
    }
  }
}

$h1-height: 90;
$h2-height: 45;
$h3-height: 40;

h1.movie {
  background-color: $movie-header-bg;
  color:            $movie-header-color;
  font:             $movie-header-font;

  box-sizing:       border-box;

  width:            100%;
  height:           #{$h1-height}px;

  padding:          10px;
  padding-top:      50px;
}

h1.show {
  background-color: $show-header-bg;
  color:            $show-header-color;
  font:             $show-header-font;

  box-sizing:       border-box;

  width:            100%;
  height:           #{$h1-height}px;

  padding:          10px;
  padding-top:      50px;
}

h2.season {
  background-color: $season-header-bg;
  color:            $season-header-color;
  font:             $season-header-font;
  box-sizing:       border-box;

  width:            100%;
  height:           #{$h2-height}px;

  padding:          10px;
}

h3.episode {
  background-color: $episode-header-bg;
  color:            $episode-header-color;
  font:             $episode-header-font;
  box-sizing:       border-box;

  width:            100%;
  height:           #{$h3-height}px;

  padding:          10px;
}

ul.shows {
  padding: 20px;

  li.show {
    @include cell;
  }
}

ul.seasons {
  padding: 20px;

  li.season {
    @include cell;
  }
}

ul.episodes {
  padding: 20px;

  li.episode {
    @include cell;
  }
}

ul.movies {
  padding: 20px;

  li.movie {
    @include cell;
  }
}

.video-js#stream {
  width: 100%;
  height: calc(100vh - #{$h1-height + $h2-height + $h3-height + $nav-height}px);
}
