// Make this a .vjs-control-bar so that it gets the same background color
// It might get messed up if future applied styling of that bar is over-zealous
.video-js .banner.vjs-control-bar {
  box-sizing:   border-box;
  display:      block;

  padding-left: 10px;

  position:     absolute;
  left:         0;
  right:        inherit;
  top:          0;

  font:         $video-overlay-font;

  height:       40px;
  line-height:  40px;
  width:        100%;
}
