html, body {
  background-color: gray;
  padding: 0;
  margin:  0;
}

* {
  padding: 0;
  margin: 0;
}

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,600,700);

@import "colors";
@import "fonts";

@import "nav";
@import "video";
@import "shows";
@import "seasons";
@import "episodes";
