!!!
%html
  %head
    %title
      #{Application::Config.options["title"]}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/main.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/vendor/video.js/video-js.min.css"}
  %body
    %nav
      .left
        - if defined?(up)
          %a{:href => up}
            Back
      .right
        %a{:href => Application::Show.url}
          Shows
        %a{:href => Application::Movie.url}
          Movies
    = find_and_preserve do
      = yield

    %script{:src => "/vendor/video.js/video.min.js",                          :type => "application/javascript"}
    %script{:src => "/vendor/videojs-contrib-hls/videojs-contrib-hls.min.js", :type => "application/javascript"}
    %script{:src => "/vendor/videojs-flash/videojs-flash.min.js",             :type => "application/javascript"}
    %script{:src => "/vendor/videojs-overlay/videojs-overlay.min.js",         :type => "application/javascript"}

    %script{:src => "/js/app.js",                                             :type => "application/javascript"}
