@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,600,700);
html, body {
  background-color: gray;
  padding: 0;
  margin: 0; }

* {
  padding: 0;
  margin: 0; }

nav {
  background-color: black;
  font: 300 14px "Lato", sans-serif;
  height: 40px; }
  nav .left {
    position: absolute;
    left: 10px;
    top: 0; }
  nav .right {
    position: absolute;
    right: 10px;
    top: 0; }
  nav a {
    color: white;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-decoration: none;
    padding: 0;
    margin: 0; }
  nav a + a {
    margin-left: 10px; }

.video-js .banner.vjs-control-bar {
  box-sizing: border-box;
  display: block;
  padding-left: 10px;
  position: absolute;
  left: 0;
  right: inherit;
  top: 0;
  font: 400 20px "Lato", sans-serif;
  height: 40px;
  line-height: 40px;
  width: 100%; }

h1.movie {
  background-color: #323232;
  color: white;
  font: bold 24px "Lato", sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  padding: 10px;
  padding-top: 50px; }

h1.show {
  background-color: #323232;
  color: white;
  font: bold 24px "Lato", sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  padding: 10px;
  padding-top: 50px; }

h2.season {
  background-color: #505050;
  color: gainsboro;
  font: 400 20px "Lato", sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding: 10px; }

h3.episode {
  background-color: #646464;
  color: gainsboro;
  font: 300 16px "Lato", sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px; }

ul.shows {
  padding: 20px; }
  ul.shows li.show {
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: bottom;
    opacity: 0.8;
    margin-right: 15px;
    margin-bottom: 15px; }
@keyframes show {
  0% {
    opacity: 0.8; }
  100% {
    opacity: 1.0; } }
    ul.shows li.show:hover {
      animation: 0.3s show;
      opacity: 1.0; }
    ul.shows li.show a {
      background-color: rgba(88, 88, 88, 0.6);
      display: block;
      position: relative;
      text-decoration: none;
      height: 100%;
      width: 100%; }
      ul.shows li.show a .name {
        color: gainsboro;
        box-sizing: border-box;
        overflow: hidden;
        left: 20px;
        top: 144px;
        height: 50px;
        width: calc(100% - 20px);
        padding-left: 10px;
        padding-top: 4px;
        padding-bottom: 5px;
        padding-right: 10px;
        background-color: rgba(150, 150, 150, 0.8);
        position: absolute;
        text-decoration: none;
        font: 400 14px "Lato", sans-serif;
        display: block;
        /* Fallback for non-webkit */
        display: -webkit-box;
        max-width: 400px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.4;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 3px solid #505050; }

ul.seasons {
  padding: 20px; }
  ul.seasons li.season {
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: bottom;
    opacity: 0.8;
    margin-right: 15px;
    margin-bottom: 15px; }
@keyframes show {
  0% {
    opacity: 0.8; }
  100% {
    opacity: 1.0; } }
    ul.seasons li.season:hover {
      animation: 0.3s show;
      opacity: 1.0; }
    ul.seasons li.season a {
      background-color: rgba(88, 88, 88, 0.6);
      display: block;
      position: relative;
      text-decoration: none;
      height: 100%;
      width: 100%; }
      ul.seasons li.season a .name {
        color: gainsboro;
        box-sizing: border-box;
        overflow: hidden;
        left: 20px;
        top: 144px;
        height: 50px;
        width: calc(100% - 20px);
        padding-left: 10px;
        padding-top: 4px;
        padding-bottom: 5px;
        padding-right: 10px;
        background-color: rgba(150, 150, 150, 0.8);
        position: absolute;
        text-decoration: none;
        font: 400 14px "Lato", sans-serif;
        display: block;
        /* Fallback for non-webkit */
        display: -webkit-box;
        max-width: 400px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.4;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 3px solid #505050; }

ul.episodes {
  padding: 20px; }
  ul.episodes li.episode {
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: bottom;
    opacity: 0.8;
    margin-right: 15px;
    margin-bottom: 15px; }
@keyframes show {
  0% {
    opacity: 0.8; }
  100% {
    opacity: 1.0; } }
    ul.episodes li.episode:hover {
      animation: 0.3s show;
      opacity: 1.0; }
    ul.episodes li.episode a {
      background-color: rgba(88, 88, 88, 0.6);
      display: block;
      position: relative;
      text-decoration: none;
      height: 100%;
      width: 100%; }
      ul.episodes li.episode a .name {
        color: gainsboro;
        box-sizing: border-box;
        overflow: hidden;
        left: 20px;
        top: 144px;
        height: 50px;
        width: calc(100% - 20px);
        padding-left: 10px;
        padding-top: 4px;
        padding-bottom: 5px;
        padding-right: 10px;
        background-color: rgba(150, 150, 150, 0.8);
        position: absolute;
        text-decoration: none;
        font: 400 14px "Lato", sans-serif;
        display: block;
        /* Fallback for non-webkit */
        display: -webkit-box;
        max-width: 400px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.4;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 3px solid #505050; }

ul.movies {
  padding: 20px; }
  ul.movies li.movie {
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: bottom;
    opacity: 0.8;
    margin-right: 15px;
    margin-bottom: 15px; }
@keyframes show {
  0% {
    opacity: 0.8; }
  100% {
    opacity: 1.0; } }
    ul.movies li.movie:hover {
      animation: 0.3s show;
      opacity: 1.0; }
    ul.movies li.movie a {
      background-color: rgba(88, 88, 88, 0.6);
      display: block;
      position: relative;
      text-decoration: none;
      height: 100%;
      width: 100%; }
      ul.movies li.movie a .name {
        color: gainsboro;
        box-sizing: border-box;
        overflow: hidden;
        left: 20px;
        top: 144px;
        height: 50px;
        width: calc(100% - 20px);
        padding-left: 10px;
        padding-top: 4px;
        padding-bottom: 5px;
        padding-right: 10px;
        background-color: rgba(150, 150, 150, 0.8);
        position: absolute;
        text-decoration: none;
        font: 400 14px "Lato", sans-serif;
        display: block;
        /* Fallback for non-webkit */
        display: -webkit-box;
        max-width: 400px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.4;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 3px solid #505050; }

.video-js#stream {
  width: 100%;
  height: calc(100vh - 215px); }

/*# sourceMappingURL=main.css.map */
